@model Category
<h2>Create Category</h2>

<form action="@Url.Action("Create", "Category")" method="post">
    <div class="border ">
        <div class="form-group">
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="displayOrder">Display Order:</label>
        <input type="number" id="displayOrder" name="DisplayOrder" class="form-control" />
    </div>
    <div class="row mt-4">
    <div class="col-6">
    <button type="submit" class="btn btn-primary" style="width:300px">Create</button>
    </div>

            <div class="col-6">
                <a href="@Url.Action("Index", "Category")" class="btn btn-info" style="width:300px">Go back to List</a>
            </div>
    </div>
    </div>
</form>
